html{
	background: url(background/school2.jpg);
}
nav{
	text-align: right;
}

body{
	margin: 1em;
}

.login,.join{
  margin-left: 0.5em;
}

.copyright{
	text-align: center;
	padding: 1em;
	height: 10vh;
	color: white;
	background: #696969;
}